*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navbar {
    width: 100%
    height: 92px;
    display: flex;
    align-items: center;
    min-height: 92px; 
    padding: 16px 120px; 
    background-color: #ffffff;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
}
.logo img {
    width: 139px;
    height: 60px;
    display: block;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
.nav-items li p {
    font-size: 16px;
    cursor: pointer;
}
.nav-btn {
    flex: 1; 
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: #30b868;
    color: #ffffff;
    padding: 14px 28px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover {
    background-color: #3d7351;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}

.banner {
    width: 100%;
    height: 674px;
    width: 100%;
    min-height: 820px; 
    background: url('./assets/hero-bg.png') , rgba(0, 25, 49, 0.8) ; 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 120px;
    color: #ffffff;
}
.banner-content {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: rgba(255, 255, 255, 1);
    border: none;
    color: #30b868;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 14px;
    margin-bottom: 32px;
}

.dot-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.dot-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 140, 99, 0.3); 
    border-radius: 50%;
}

.dot-inner {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #30b868; 
    border-radius: 50%;
}
.banner-content h1 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 84px;
    text-align: center;
}
.banner-content h1 span {
    color: #30b868; 
}
.banner-content p {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    margin-bottom: 48px;
    text-align: center;
}
.banner-btn {
    display: flex;
    gap: 16px;
}
.btn2 {
    background-color: #30b868;
    color: white;
    padding: 12px 16px;
    width: 251px; 
    height: 52px;  
    border: none;
    border-radius: 4px; 
    font-weight: 600;
    cursor: pointer;
}
.btn2:hover {
    background-color: #3d7351;
    box-shadow: 0 4px 15px rgba(74, 140, 99, 0.3);
}
.btn3 {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px;
    width: 198px; 
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
.btn3:hover {
    background-color: rgba(255, 255, 255, 0.605);
    border-color: white;
}

.apps1-section {
    width: 100%;
    height: 448px;
    background-color: #ffffff;
    padding: 80px 120px 44px 120px; 
    text-align: center;
    justify-content: center;
}


.apps1-header {
    max-width: 1360px;
    margin: 0 auto 64px auto;
}

.apps1-header h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931; 
    margin-bottom: 16px;
    line-height: 100%;
}

.apps1-header p {
    font-size: 16px;
    color: #627382; 
    text-align: center;
    line-height: 20px;
}


.cards{
    display: flex;
    justify-content: center;
    gap: 24px; 
    flex-wrap: wrap;
}


.apps1-card {
    background: #ffffff;
    padding: 24px;
    width: 322px;
    min-height: 300px; 
    border: 1px solid #f2f4f7; 
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    gap: 16px;
    
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #F95555; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.icon img {
    width: 32px;
    height: 32px;
}

.apps1-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 12px;
    line-height: 100%;
    text-align: center;
    justify-content: center;
    
}

.apps1-card p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    text-align: center;
}

.solution-section {
    width: 100%;
    height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 102px;
    gap: 40px; 
}


.solution-img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution-img img {
    width: 100%;
    height: 100%;
}


.solution-container {
    max-width: 700px;
    height: auto; 
}

.solution-h6 {
    color: #30b868; 
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 16px;
}

.solution-container h1 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    line-height: 58px;
    text-align: left;
    margin-bottom: 16px;

}

.solution-container p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    font-weight: 400px;
    text-align: left;
    margin-bottom: 40px;
}


.solution-list li {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #101828;
    text-align: left;
    margin-bottom: 16px;
}

.gea-section {
    width: 100%;
    height: 506px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 0 120px 120px 120px;
}

.gea-container {
    max-width: 1360px;
    width: 100%;
    min-height: 384px;
    background-color: #F7F6F2; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 40px;
}

.gea-container h2 {
    font-size: 40px;
    font-weight: 700;
    color: #001a33;
    margin-bottom: 16px;
    text-align: center;
}

.gea-message {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-bottom:24px;
}

.gea-btn {
    width: 194px;
    height: 52px;
    background-color: #30b868;
    color: #ffffff;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 16px;
}

.gea-btn:hover {
    border-radius: 4px;
    background-color: #3d7351;
    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.3);
}

.gea-ending-message {
    display: flex;
    text-align: center;
  
    gap: 8px;
}
.gea-ending-message p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #627382;
    font-weight: 400;
}

.footer-section {
    background-color: rgb(0, 25, 49, 1); 
    display: flex;
    justify-content: center;
    padding: 120px 120px 30px 120px; 
}

.footer-container {
    max-width: 1600px;
    width: 100%;
    min-height: 348px;
    display: flex;
    flex-direction: column;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 64px;
}

.footer-logo img {
    width: 139px;
    height: 60px;
    display: block;
}



.social-links {
    
    text-align: right;
    color: #ffffff;
}

.social-links p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-logo {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.social-logo img {
    width: 20px;
    height: 20px;
}

.footer-divider {
    border: none;
    border-top: 1px solid rgba(229, 231, 235, 1);
    width: 100%;
    margin-top: 80px;
}


.footer-bottom { 
    width: 100%;
    text-align: center;      
    padding-top: 30px;          
    color: #FAFAFA; 
    font-size: 16px;
    margin-top: 30px;
}
